<% rubocop_errors = JSON.parse(@ruby_runner.rubocop_errors) -%>
<div class="col-lg-12">
  <div id="tabs">
    <ul>
      <li><a href="#code">Code</a></li>
      <li><a href="#input">input</a></li>
      <li><a href="#output">output</a></li>
      <li><a href="#lint">Lint <span id = 'lint_error_count'><%= @ruby_runner.lint_errors.lines.count %></span> </a></li>
      <li><a href="#rubocop">Rubocop <span id = 'lint_error_count'><%= rubocop_errors["summary"]["offense_count"] %></a></li>
      <li><a href="#tests">Tests</a></li>
      <li><a href="#test_run">Tests Run<span id = 'lint_error_count'><%= @ruby_runner.test_runs.select{|test| !test[:passed]}.size %></a></li>
      <li><a href="#versions">History</a></li>
    </ul>
    <div id="code">
        <div class="">
          <%= f.label :code, :class => 'control-label' %>
          <div class="">
            <%= f.text_area :code, :class => 'bin' %>
          </div>
          <%=f.error_span(:code) %>
        </div>
    </div>
    <div id="input">
      <p>
        <div class="">
        <%= f.label :input, :class => 'control-label ' %>
        <div class="">
          <%= f.text_area :input, :class => 'form-control'%>
        </div>
        <%=f.error_span(:input) %>
      </div>
      </p>
    </div>
    <div id="lint">
      <p>
        <div id="errors">
        <%= simple_format @ruby_runner.lint_errors -%>
        </div>
      </p>
    </div>
    <div id="rubocop">
      <p>
        <div id="errors">
        <% rubocop_errors["files"].each do |file| %>
          <% errors = file['offenses'].group_by{|x| x['severity'] } %>
          <% errors.each do |severity, offenses| %>
            <div class = '<%= severity -%>'>
              <h3><%= severity -%></h3>
              <% offenses.each do |offense| %>
                <div>
                  <span class = "col-md-2">Line: <%= offense["location"]["line"] -%> Col: <%= offense["location"]["column"] -%></span> 
                  <%= offense["message"] -%>
                </div>
              <% end %>
            </div>
          <% end %>
        <%end%>
        </div>
      </p>
    </div>
    <div id="output">
      <p>
        <small>If you don't see any output then your program didn't print anything on STDOUT or your program took more than <%= @ruby_runner.timeout -%> </small>
      </p>
      <p>
      <%= simple_format @ruby_runner.output -%>
      </p>
    </div>
    <div id="tests">
      <p>
        <div class="">
          <%= f.label :tests, :class => 'control-label ' %>
          <div class="">
            <%= f.text_area :tests, :class => 'form-control', rows: 20%>
          </div>
          <%=f.error_span(:tests) %>
        </div>
      </p>
    </div>
    <div id="test_run">
      <p>
        <div class="">
        <% if @ruby_runner.test_runs.present? %>
          <% @ruby_runner.test_runs.each do |test| %>
            <div class = "<%= (test[:passed]) ? "pass" : "fail" -%>">
              <div>name:<br/> <%= test[:name] -%></div>
              <br/>
              <div>input:<br/> <%= test[:input] -%></div>
              <br/>
              <div>expected output:<br/> <%= simple_format test[:output] -%></div>
              <br/>
              <div>actual output:<br/> <%= simple_format test[:actual_output] -%></div>
            </div>
            <br/>
            <br/>
            ===
            <br/>
            <br/>
          <% end %>
        <% end %>
        </div>
      </p>
    </div>    
    <div id = 'versions' >
    <% if ruby_bin.versions.present? %>
      <h4>Older Versions:</h4>
      <% ruby_bin.versions.each_with_index do |v, index| %>
        <div>
            <%= link_to  ruby_bin_version_path(ruby_bin, v), title: v.created_at do %>
              <%= "v-#{index+1}: " + time_ago_in_words(v.created_at) -%> ago
              <small>(<%= v.created_at -%>)</small>
            <%end%>
        </div>
      <% end %>
      <%= link_to "Latest Version", ruby_bin_version_path(ruby_bin, id: :latest)%>
    <% end %>
    </div>
  </div>
</div>


<%= render partial: '/ruby_bins/rubybin_codemirror', locals: { ruby_bin: ruby_bin} %>