<% versions = js_bin.versions %>
<%= form_for js_bin, url: "", :html => { :class => "form-horizontal js_bin" } do |f| %>

  <div class = " pull-left col-lg-12">
  <div class="form-group">
    <div class=" col-lg-12">
      <div class="form-group pull-left col-lg-4">
        <div class="">
          <h4><%= js_bin.title %></h4>
          <small>at <%= (@version ? @version.created_at : js_bin.updated_at) -%> </small>
          <% if @version%>
            <%= link_to "See The Latest Version", js_bin_version_path(js_bin, id: :latest), class: 'btn btn-primary pull-right' %>
          <% else %>
            <% if can? :update, js_bin %>
            <%= link_to "Edit", edit_js_bin_path(js_bin), class: 'btn btn-info' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= render partial: '/js_bins/fields', locals: {f: f, js_bin: js_bin} %>

<% end %>