<%= form_for @js_bin, :html => { :class => "form-horizontal js_bin" } do |f| %>

  <% if @js_bin.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@js_bin.errors.count, "error") %> prohibited this js_bin from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @js_bin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class = " pull-left col-lg-8">
  <div class="form-group">
    <div class=" col-lg-10">
  
      <div class="form-group pull-left col-lg-3">
        <%= f.label :title, :class => 'control-label col-lg-3' %>
        <div class="">
          <%= f.text_field :title %>
        </div>
        <%=f.error_span(:title) %>
      </div>

      <%= f.submit "Update & Run", :class => 'btn btn-primary' %>
      <%= link_to "Full Page", js_bin_path(@js_bin), :class => 'btn btn-primary', target: "_blank" %>
    </div>
  </div>
    
  <div class="form-group pull-left col-lg-6">
    <%= f.label :html, :class => 'control-label col-lg-2' %>
    <div class="">
      <%= f.text_area :html, :class => 'form-control', rows: 15, cols: 40 %>
    </div>
    <%=f.error_span(:html) %>
  </div>
  <div class="form-group pull-left col-lg-6">
    <%= f.label :js, :class => 'control-label col-lg-2' %>
    <div class="">
      <%= f.text_area :js, :class => 'form-control', rows: 15, cols: 40 %>
    </div>
    <%=f.error_span(:js) %>
  </div>
  <div class="form-group pull-left col-lg-6">
    <%= f.label :css, :class => 'control-label col-lg-2' %>
    <div class="">
      <%= f.text_area :css, :class => 'form-control', rows: 15, cols: 40 %>
    </div>
    <%=f.error_span(:css) %>
  </div>

  <div class="form-group pull-left col-lg-6">
    <%= label_tag :console %>
    <div id = 'console' class = "form-control"> 
    </div>
  </div>

  </div>
  <div class="form-group">
    <div class=" col-lg-4">
      <iframe src="<%=js_bin_path(@js_bin, debug: true)%>" width =  100% height = 600px></iframe>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  var jsTextArea = $("#js_bin_js");
  var htmlTextArea = $("#js_bin_html");
  var cssTextArea = $("#js_bin_css");

    CodeMirror.fromTextArea(jsTextArea[0], {
      lineNumbers: true,
      mode: "javascript"
    });



    CodeMirror.fromTextArea(htmlTextArea[0], {
      lineNumbers: true,
      mode: "htmlmixed"
    });

    CodeMirror.fromTextArea(cssTextArea[0], {
      lineNumbers: true,
      mode: "css"
    });


</script>