<%= form_for @js_bin, :html => { :class => "form-horizontal js_bin" } do |f| %>

<%= render partial: 'shared/form_errors', locals: {obj: @js_bin} %>

<div class="form-group">
  <div class=" col-lg-10">
    <div class="form-group pull-left col-lg-4">
      <div class="">
      <% if can? :update, @js_bin %>
        <%= f.label :title, :class => 'control-label col-lg-3' %>
        <%= f.text_field :title %>
      <% else %>
          <h4><%= @js_bin.title %></h4>
      <% end %>
      </div>
      <%=f.error_span(:title) %>
    </div>
    <% if can? :update, @js_bin %>
      <%= f.submit "Update & Run", :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to "Full Page", js_bin_path(@js_bin), :class => 'btn btn-primary', target: "_blank" %>
  </div>
</div>

<%= render partial: 'fields', locals: {f: f, js_bin: @js_bin} %>
<%= render partial: 'shared/codemirror_hints' -%>

<% end %>
