<%- model_class = JsBin -%>
<div class="page-header">
    <div class="row">
    <h1 class="col-md-9">JS Bin</h1>
    <div class="pull-right col-md-3">
      <% if current_user.admin? %>
        User: <%= select_tag 'users', options_from_collection_for_select(User.all, "id", "name", @user.id), onchange: "javascript:window.location.href='#{ruby_bins_path}?user_id='+this.value" -%>

      <% end %>
    </div>

  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>User</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @js_bins.each do |js_bin| %>
      <tr>
        <td><%= link_to js_bin.id, js_bin_path(js_bin) %></td>
        <td><%= link_to js_bin.title, edit_js_bin_path(js_bin) %></td>
        <td><%= js_bin.user.name -%></td>
        <td><%=l js_bin.created_at %></td>
        <td><%=l js_bin.updated_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_js_bin_path(js_bin), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      js_bin_path(js_bin),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_js_bin_path,
            :class => 'btn btn-primary' %>
