<!DOCTYPE html>
<html>
  <head>
    <title>MyBin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value.html_safe %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
